{% extends 'paginas/nav.html' %}
{% block nav %}

{% if messages %}
{% for message in messages%}
<div class="notificacion">
    {{message}}
</div>
{% endfor%}
{% endif %}
{% load static %}
<br>
<div class="container">
    <h1 class="mb-4 text-light">Top 10 Canciones Populares en Estados Unidos</h1>
    <div class="row">
      {% for song in songs %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img src="{{ song.image }}" alt="{{ song.name }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ song.name }}</h5>
              <p class="card-text">{{ song.artist }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>

</body>
</html>
{% endblock %}  


