{% extends 'paginas/nav.html' %}
{% block nav %}

{% if messages %}
{% for message in messages%}
<div class="notificacion">
    {{message}}
</div>
{% endfor%}
{% endif %}
{% load static %}
<div class="container">

  <h1 class="text-light">Catalogo</h1>
  <h3 class="text-light">Buscar:</h3> 

  <div class="buscar">
      <input type='text' class="form-control" name='buscador' id='buscador' placeholder='Buscar...'>
  </div>
{% for producto in productos %}
<div class="cartas">
  <div class="card">
    <img src="{{ producto.imagen }}"  alt="">
    <h2>{{producto.nomprod}}</h2>
    <p class="price">{{producto.precio}}</p>
    <button>Sin Stock</button>
  </div>
</div>
{% endfor %}

</div>
<!-- AQUI TERMINA EL NAVBAR -->


    
    
  </body>
</html>
{% endblock %}  